body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}


.register-container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}

header {
  background-color: #303030;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

h2 {
  margin-bottom: 20px;
}

input,
button {
  display: block;
  width: calc(100% - 20px);
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 20px;
  background-color: #303030;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #636262;
}

.status-message {
  margin-top: 10px;
}

.disclaimer {
  margin-top: 20px;
  text-align: left;
}

.disclaimer h4 {
  color: red;
  margin-bottom: 5px;
  text-align: center;
}

nav ul li.dropdown {
  position: relative;
  display: inline-block;
}

nav ul li.dropdown .dropbtn {
  color: white;
  text-decoration: none;
  padding: 14px 16px;
  display: inline-block;
}

nav ul li.dropdown .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

nav ul li.dropdown:hover .dropdown-content {
  display: block;
}

nav ul li.dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

nav ul li.dropdown .dropdown-content a:hover {
  background-color: #f1f1f1;
}

.checkbox-container {
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-container input {
  margin-right: 5px;
}

.checkbox-container label {
  margin-bottom: 0;
  margin-left: 5px;
}

.checkbox-container a {
  color: #007bff;
  text-decoration: underline;
}

