/* Basic CSS styles for Secrets page */
body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #303030;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul li.dropdown {
    position: relative;
    display: inline-block;
  }
  
  nav ul li.dropdown .dropbtn {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    display: inline-block; /* Ensure the button takes the same space as text */
  }
  
  nav ul li.dropdown .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%; /* Center the dropdown box relative to the button */
    transform: translateX(-50%); /* Adjust for half of the width of the dropdown box */
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  nav ul li.dropdown:hover .dropdown-content {
    display: block;
  }
  
  nav ul li.dropdown .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  nav ul li.dropdown .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  

  nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  main {
    padding: 20px;
  }
  
  .secret-section {
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
  }
  
  .secret-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .secret-section p {
    font-size: 16px;
    line-height: 1.5;
  }
  